In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("annual_consumption_state_dos.csv")
df.head()

,Pkey,Year,State,TypeOfProducer,EnergySource,UseOfElectricity
0,1,1990,AK,Total Electric Power Industry,Coal Short Tons,404871
1,2,1990,AK,Total Electric Power Industry,Petroleum Barrels,961837
2,3,1990,AK,Total Electric Power Industry,Natural Gas Mcf,42764948
3,4,1990,AK,Electric Generators Electric Utilities,Coal Short Tons,290182
4,5,1990,AK,Electric Generators Electric Utilities,Petroleum Barrels,657706

In [19]:
df2 = df[df['TypeOfProducer'] == "Total Electric Power Industry"]
df2.head()

,Pkey,Year,State,TypeOfProducer,EnergySource,UseOfElectricity
0,1,1990,AK,Total Electric Power Industry,Coal Short Tons,404871
1,2,1990,AK,Total Electric Power Industry,Petroleum Barrels,961837
2,3,1990,AK,Total Electric Power Industry,Natural Gas Mcf,42764948
10,11,1990,AL,Total Electric Power Industry,Coal Short Tons,22242353
11,12,1990,AL,Total Electric Power Industry,Petroleum Barrels,249875

In [26]:
df3 = df2[(df2['State'] == 'US-TOTAL') | (df2['State'] == 'US-Total')]
df3.head()

,Pkey,Year,State,TypeOfProducer,EnergySource,UseOfElectricity
614,615,1990,US-TOTAL,Total Electric Power Industry,Coal Short Tons,792457493
615,616,1990,US-TOTAL,Total Electric Power Industry,Petroleum Barrels,218800036
616,617,1990,US-TOTAL,Total Electric Power Industry,Natural Gas Mcf,3691562664
617,618,1990,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,111750
1271,1272,1991,US-TOTAL,Total Electric Power Industry,Coal Short Tons,793665533

In [23]:
#df['TypeOfProducer'].unique()
#df['EnergySource'].unique()
df['State'].unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'US-TOTAL', 'US-Total'],
      dtype=object)

In [28]:
df_coal = df3[df3['EnergySource'] == 'Coal  Short Tons ']
df_oil = df3[df3['EnergySource'] == 'Petroleum  Barrels ']
df_lng = df3[df3['EnergySource'] == 'Natural Gas  Mcf ']
df_og = df3[(df3['EnergySource'] == 'Other Gases  Billion BTU ') | (df3['EnergySource'] == 'Other Gases  Billion Btu ')]
#df_og2 = df3[df3['EnergySource'] == 'Other Gases  Billion Btu ']
df_geo = df3[df3['EnergySource'] == 'Geothermal  Billion Btu ']

In [29]:
df_og

,Pkey,Year,State,TypeOfProducer,EnergySource,UseOfElectricity
617,618,1990,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,111750
1274,1275,1991,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,125485
1942,1943,1992,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,141279
2623,2624,1993,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,136230
3316,3317,1994,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,136381
4014,4015,1995,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,132520
4722,4723,1996,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,158560
5440,5441,1997,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,119412
6165,6166,1998,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,124988
6896,6897,1999,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,126387
7647,7648,2000,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,125971
8406,8407,2001,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,97308
9188,9189,2002,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,131230
9966,9967,2003,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,156306
10748,10749,2004,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,135144
11531,11532,2005,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,109916
12311,12312,2006,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,114665
13091,13092,2007,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,114904
13878,13879,2008,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,96757
14657,14658,2009,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,83593
15438,15439,2010,US-TOTAL,Total Electric Power Industry,Other Gases Billion BTU,90058
16108,16113,2011,US-TOTAL,Total Electric Power Industry,Other Gases Billion Btu,91290
16887,16894,2012,US-Total,Total Electric Power Industry,Other Gases Billion Btu,103353
17665,17672,2013,US-Total,Total Electric Power Industry,Other Gases Billion Btu,115303
18453,18460,2014,US-Total,Total Electric Power Industry,Other Gases Billion Btu,110010
19243,19250,2015,US-Total,Total Electric Power Industry,Other Gases Billion Btu,105997
20029,20036,2016,US-Total,Total Electric Power Industry,Other Gases Billion Btu,73785
20812,20819,2017,US-Total,Total Electric Power Industry,Other Gases Billion Btu,70721
21594,21601,2018,US-Total,Total Electric Power Industry,Other Gases Billion Btu,78757

In [31]:
len(df)*2

43442